<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mandarl Art</title>
    <link rel="stylesheet" href="/css/mandal.css">
</head>
<body>
<div class="title">
    <h1>
        Mandal Art
    </h1>
</div>
<div class="discription">
    <ul>
        <li>가장 가운데에 당신의 최종 목표를 작성 주세요</li>
        <li>왼쪽 위에서부터 시계 방향으로 최종 목표를 달성하기위한 하위 목표를 설정해 주세요.</li>
    </ul>
</div>
<div class="content">
    <div class="content-table">
        <table class="content-table-mandal" id="">
            <tbody>
            <tr>
                <td><input type="text" name="sub1" placeholder="하위목표1"></td>
                <td><input type="text" name="sub2" placeholder="하위목표2"></td>
                <td><input type="text" name="sub3" placeholder="하위목표3"></td>
            </tr>
            <tr>
                <td><input type="text" name="sub4" placeholder="하위목표4"></td>
                <td><input type="text" name="goal" placeholder="최종목표"></td>
                <td><input type="text" name="sub5" placeholder="하위목표5"></td>
            </tr>
            <tr>
                <td><input type="text" name="sub6" placeholder="하위목표6"></td>
                <td><input type="text" name="sub7" placeholder="하위목표7"></td>
                <td><input type="text" name="sub8" placeholder="하위목표8"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="content-submit-btn">
        <div class="submit-btn" onclick="save()">Submit</div>
    </div>
</div>

</body>
<script src="/js/mandal.js"></script>
</html>
